body{
    background-color: #2e2e2e;
    margin: 0;
}

.skills{
    height: 30px;
    width: 80%;
    background-color: whitesmoke;
    margin: 20px auto;
}
.skill{
    height: 30px;
    background-color: rgba(45, 45, 45, 0.9);
    width: 10%;
}
.load {
    display: flex;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
}
.load p {
    color: whitesmoke;
    margin: auto;
}